/* Need to contain all contents in main-* 
in their own divs and set a max width */

/* General */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

html {
    height: 100%;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    /* max-width: 4800px; */
}

.main-1, .main-2, .main-3, .main-4 {
    display: flex;
    flex: 0 1 auto;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
    /* max-width: 2000px; */

}

.child-1, .child-2, .child-3, .child-4 {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

.header, .main-1, .footer {
    background: #1F2937;
}

a {
    text-decoration: none;
}

.outer-column {
    max-width: 1200px;
    /* width: 1200px; */
    flex: auto;
}

.inner-column {
    max-width: 800px;
}

button {
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    border: 2px solid white;
    font-weight: bold;
}


/* Header Style */
.header {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    height: 100px;

}

.header-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex: 1 1 1200px;

    /* max-width: 2000px; */
}

/* .flex-divider {
    flex: 1;
} */

.header ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.header *, .main-1 *, .footer * {
    color: white;
    
}

#header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    font-weight: bold;
}

/* Main Segment Style */

/* Main 1 */
.main-1 {
    gap: 20px;
    justify-content: space-around;
}

.main-1 div * {
    margin: 5px 0px;
}
.main-1 div h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.child-1 {
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.child-1 div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#image-placeholder {
    justify-content: center;
    align-items: center;
    background: #6d747d;
    width: 300px;
    flex: 1;
}

/* Main 2 */
.main-2 {
    flex-direction: column;
}

.main-2 h2 {
    text-align: center;
    margin-bottom: 50px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
}

.box-main {
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.box-child {
    width: 200px;
    flex: 1 1 auto;
    border: 3px #3b82f6 solid;
    border-radius: 10px;
}

.box-subtext {
    text-align: center;
}


/* Main 3 */
.main-3 {
    background: #e5e7eb;
    justify-content: center;
}

.main-3 h3 {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.main-3 * {
    padding: 0 20px;
}

/* Main 4 */

.child-4 {
    background: #3882F6;
    flex: auto;
    border-radius: 5px;
    display: flex;
    padding: 20px 65px;
    justify-content: space-between;
    color: white;

}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-top: auto;
    flex: none;
}